extends layout

block content
  h1 Svi projekti
  ul
    each projekt in projects
      li
        strong
          a(href=`/projects/${projekt._id}`)= projekt.naziv
        |  – opis: #{projekt.opis}