extends layout

block content
  h1 Registracija
  form(action="/register" method="POST")
    label(for="username") KorisniÄko ime:
    input(type="text" name="username" required)
    br
    label(for="password") Lozinka:
    input(type="password" name="password" required)
    br
    button(type="submit") Registriraj se
